!!! html5
%html{html_attrs}
  %head
    %title content_for(:title) || #{app_name}
    = csrf_meta_tag
    = stylesheet_link_tag :application
    = javascript_include_tag :application
  %body
    %header.primary
      .content
        %h1= link_to "Home", root_path
    %div.main
      %div.content
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_\#{name}"
        = yield
    %footer.primary
      %div.content
        %p.copyright &copy; #{Date.today.year}

